<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="personName" class="example.Name">
        <property name="name" value="Testing Panda" />
    </bean>

    <bean id="consPerson" class="example.cons.Person">
        <constructor-arg ref="personName" />
    </bean>

    <bean id="factoryConsPerson" class="example.cons.factory.Person" factory-method="createPerson">
        <constructor-arg ref="personName" />
    </bean>

    <bean id="setterPerson" class="example.setter.Person">
        <property name="personName" ref="personName" />
    </bean>

    <bean id="factorySetterPerson" class="example.setter.factory.Person" factory-method="createPerson">
        <property name="personName" ref="personName" />
    </bean>

</beans>